/*! _vars */

%pn-reg{
    font-family: 'ProximaNova-Regular', sans-serif;
    font-weight: 400;
}
%pn-bold{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-weight: 700;
}

$primaryText: #1E2E36;
$bg: #fff;
$acent: #44C697;